# Build directories
build/
cmake-build-*/

# IDE files
.idea/
.vscode/
*.user
*.swp
*~

# Compiled files
*.o
*.so
*.a
moc_*
qrc_*

# Qt
*.qmlc
*.jsc

# Python
src/editor/layers/__pycache__/

# OS files
.DS_Store
Thumbs.db
src/runtime/plugin/build/
